

.bodyall{
    width: 80%;
    position: absolute;
    left:25%;
    top:10%;

}
.icon-user{
    font-size: 10px;
}
div .left{
    float: left;
    width: 80%;
    height: 100px;
}
.btn{
    color:#333333;
    text-decoration:none;
    background-color:#DFEACA;
    width: 70px;
    height: 24px;
}
.btn:hover{
    color:#333333;
    text-decoration:none;
    background-color:#5FB023;

    background-position:0 -15px;
    -webkit-transition:background-position 0.1s linear;
    -moz-transition:background-position 0.1s linear;
    -ms-transition:background-position 0.1s linear;
    -o-transition:background-position 0.1s linear;
    transition:background-position 0.1s linear;
}