<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.ztw.ConsumptionMapper">
    <select id="getAddressInfo" parameterType="string" resultType="user">
        SELECT
        *
        FROM au_user
        WHERE loginCode =#{username}
    </select>

    <select id="getBalance" parameterType="int" resultType="double">
        select sum(baseBalance) as balance from user_account_log_201404 where userId = #{userid}
    </select>

    <insert id="insertOrderInfo" parameterType="orderInfoZtw">
        insert into order_info
        (ORDER_ID,ORDER_TIME,ORDER_SN,PICK_USER_ID,BUY_USER_ID,BASE_PV,COUNTRY,MOBILE,EMAIL,USER_ADDRESS,POSTCODE,SHIP_TYPE,SERVICE_FEE,TEL,STAT)
        values
        (#{orderid},#{ordertime},#{ordersn},#{pickuserid},#{buyuserid},#{basepv},#{country},#{mobile},#{email},#{useraddress},#{postcode},#{shiptype},#{servicefee},"报单购物",0);

    </insert>

    <insert id="insertUserPoint" parameterType="userPointZtw">
        insert into user_point
        (POINT_ID,BUY_TIME,BONUS_USER_ID,USER_ID,BUY_PV,BONUS_RATE,BONUS_PV)
        values
        (#{pointId},#{buytime},#{bonusUserId},#{userId},#{buyPv},#{bonusRate},#{bonusPv})
    </insert>


</mapper>