<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.ztw.RegisterUserMapper">
    <select id="exsitLoginCode" parameterType="string" resultType="user">
        select * from au_user where loginCode = #{loginCode} and roleName !=  '会员' ||'管理员'
    </select>
</mapper>