<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.fxc.DataDictionaryMapper">

  <select id="getDataDictionaries" resultType="dataDictionary" parameterType="dataDictionary">
    select * from data_dictionary
    <trim prefix="where" prefixOverrides="and | or">
      <if test="typeCode != null">
        and typeCode = #{typeCode}
      </if>
      <if test="typeName != null">
        and typeName = #{typeName}
      </if>
      <if test="id != null">
        and id = #{id}
      </if>
      order by valueId asc
    </trim>
  </select>
  <select id="getDataDictionariesCategory" resultType="dataDictionary">
		SELECT * FROM data_dictionary GROUP BY typeCode ORDER BY id ASC
	</select>
  <select id="getDataDictionariesNotIn" resultType="dataDictionary">
		SELECT * FROM data_dictionary WHERE  typeCode = #{typeName} AND typeCode NOT IN (SELECT typecode FROM data_dictionary WHERE typecode = #{typeCode})
	</select>


  <insert id="addDataDictionary" parameterType="dataDictionary">
		insert into data_dictionary (typeCode,typeName,valueId,valueName)
		values(#{typeCode},#{typeName},#{valueId},#{valueName})
	</insert>


  <delete id="deleteDataDictionary" parameterType="dataDictionary">
    delete from data_dictionary
    <trim prefix="where" prefixOverrides="and | or">
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="typeCode != null">
        and typeCode = #{typeCode}
      </if>
    </trim>
  </delete>

  <update id ="modifyDataDictionary" parameterType="dataDictionary">
    update data_dictionary
    <set>
      <if test="typeCode != null"> typeCode = #{typeCode},</if>
      <if test="typeName != null"> typeName = #{typeName},</if>
      <if test="valueId != null"> valueId = #{valueId},</if>
      <if test="valueName != null"> valueName = #{valueName}</if>
    </set>
    where id = #{id}
  </update>
  <update id ="modifyDataDictionarys" parameterType="dataDictionary">
		update data_dictionary set typeCode = #{typeCode},typeName = #{typeName} where typeCode = #{valueName}
	</update>
  <select id="maxValueId" parameterType="dataDictionary" resultType="int">
		select max(valueId) from data_dictionary where typeCode = #{typeCode}
	</select>
  <select id="typeCodeOrValueIdIsExit" resultType="int" parameterType="dataDictionary">
    select count(1) from data_dictionary
    <trim prefix="where" prefixOverrides="and | or">
      <if test="typeCode != null">
        and typeCode = #{typeCode}
      </if>
      <if test="valueId != null">
        and valueId = #{valueId}
      </if>
      <if test="id != null">
        and id != #{id}
      </if>
    </trim>
  </select>
</mapper>