<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.fxc.GoodsPackAffiliatedMapper">
	
    <resultMap type="goodsPackAffiliated" id="goodsPackAffiliatedList">
		<result property="id" column="id"/>
		<result property="goodsPackId" column="goodsPackId"/>
		<result property="goodsInfoId" column="goodsInfoId"/>
		<result property="realPrice" column="realPrice"/>
		<result property="goodsName" column="goodsName"/>
		<result property="goodsNum" column="goodsNum"/>
		<result property="unit" column="unit"/>
	</resultMap>
	
    <!-- getGoodsPackAffiliatedListById -->
     <select id="getGoodsPackAffiliatedListById" resultMap="goodsPackAffiliatedList" parameterType="goodsPackAffiliated">
		select * from goods_pack_affiliated a,goods_info b where a.goodsInfoId = b.id
			<if test="goodsPackId != null">
			  and a.goodsPackId = #{goodsPackId}
			</if>
	</select>
	
	<!-- addGoodsPackAffiliated -->
	<insert id="addGoodsPackAffiliated" parameterType="goodsPackAffiliated" >
		 insert into goods_pack_affiliated (goodsPackId,goodsInfoId,goodsNum) values (#{goodsPackId},#{goodsInfoId},#{goodsNum})
	</insert>
	
	<!-- deleteGoodsPackAffiliated -->
	<delete id ="deleteGoodsPackAffiliated" parameterType="goodsPackAffiliated">
		delete from goods_pack_affiliated where goodsPackId = #{goodsPackId}
	</delete>
	
	<select id="selectGoodsPackAffiliatedBygoodsPackId" parameterType="int" resultMap="goodsPackAffiliatedList">
		select * from  goods_pack_affiliated where goodsPackId = #{i};
	</select>
</mapper>  
