<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.fxc.GoodsInfoMapper">
	
    <!-- getGoodsInfoList -->
     <select id="getGoodsInfoList" resultType="goodsInfo" parameterType="goodsInfo">
		select * from goods_info  
		<trim prefix="where" prefixOverrides="and | or">
			<if test="goodsName != null">
			 and goodsName like concat('%',#{goodsName},'%')
			</if>
			<if test="state != null">
			  and state = #{state}
			</if>
		</trim>
		order by lastUpdateTime desc
	</select>
	
	<select id="count" resultType="int" parameterType="goodsInfo">
		select count(1) from goods_info
		<trim prefix="where" prefixOverrides="and | or">
			<if test="goodsName != null">
			 and goodsName like  CONCAT('%',#{goodsName},'%')
			</if>
			<if test="state != null">
			  and state = #{state}
			</if>
		</trim>
	</select>
	
	<!-- addGoodsInfo -->
	<insert id="addGoodsInfo" parameterType="goodsInfo">
		insert into goods_info (goodsSN,goodsName,marketPrice,realPrice,state,
								num,unit,goodsFormat,note,createdBy,createTime,lastUpdateTime) values 
							 (#{goodsSN},#{goodsName},#{marketPrice},#{realPrice},#{state},#{num},
							 #{unit},#{goodsFormat},#{note},#{createdBy},#{createTime},#{lastUpdateTime})
	</insert>
	
	<select id="goodsSNIsExit" resultType="int" parameterType="goodsInfo">
		select count(1) from goods_info
			<trim prefix="where" prefixOverrides="and | or">
				<if test="goodsSN != null">
				  and goodsSN = #{goodsSN}
				</if>
				<if test="id != null">
				  and id != #{id}
				</if>
			</trim>
	</select>
	
	<!-- getgoodsById -->
	<select id="getGoodsInfoById" resultType="goodsInfo" parameterType="goodsInfo">
		select * from goods_info where id = #{id}
    </select>
    
     <!-- modifyGoodsInfo -->
	<update id="modifyGoodsInfo" parameterType="goodsInfo">
		update goods_info 
			<set>
				 <if test="goodsSN != null"> goodsSN = #{goodsSN},</if>
				 <if test="goodsName != null"> goodsName = #{goodsName},</if>
				 <if test="marketPrice != null"> marketPrice = #{marketPrice},</if>
				 <if test="realPrice != null"> realPrice = #{realPrice},</if>
				 <if test="state != null"> state = #{state},</if>
				 <if test="num != null"> num = #{num},</if>
				 <if test="unit != null"> unit = #{unit},</if>
				 <if test="goodsFormat != null"> goodsFormat = #{goodsFormat},</if>
				 <if test="note != null"> note = #{note},</if>
				 <if test="createdBy != null"> createdBy = #{createdBy},</if>
				 <if test="createTime != null"> createTime = #{createTime},</if>
				 <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime}</if>
		     </set>
		  	where id = #{id}
	</update>
	
	 <!-- deleteGoodsInfo -->
	<delete id="deleteGoodsInfo" parameterType="goodsInfo">
		delete from goods_info where id = #{id}
	</delete>
	
	<!-- isExitInPack -->
	<select id="isExitInPack" resultType="int" parameterType="goodsInfo">
		select count(1) from goods_pack_affiliated
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
			 and goodsInfoId = #{id}
			</if>
		</trim>
	</select>


</mapper>  
